[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]



[packages]

google-cloud-bigquery = "==1.3.*"
facebook-business = "==3.0.*"
python-dotenv = "==0.8.*"
pydash = "==4.5.*"


[requires]

python_version = "3.6"
